@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@100&display=swap');

* {
	font-family: poppins, sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}

:root {
	--rojito: rgb(256, 0, 0);
	--negrito: rgb(0, 0, 0);
	--negrito-sombrita: rgba(0, 0, 0, .5);
	--green: rgb(29.053, 223.13, 0);
	--bg:  rgba(10, 10, 10, 1);
	--sombra: rgba(20, 20, 20, 1);
}

body {
	background: var(--bg);
}

/* NAVBAR */

header {
	background: var(--bg);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	padding: 0 30px;
	top: 0;
	border-bottom: 1px solid var(--negrito);
	position: sticky;
	top: 0;
}

.logo-iso-cont {
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--rojito);
}

.logo {
	width: 200px;
}

.title {
	font-weight: 300;
	font-size: 25px;
}

.nav, .nav-list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav {
	gap: 150px;
}

.nav-list {
	gap: 40px;
	color: var(--rojito);
}

.nav-list a {
	color: var(--rojito);
}

.list-item {
	padding: 6px;
}

.list-item:hover {
	background: linear-gradient(to bottom, var(--bg), var(--negrito));
	padding: 6px;
	border-bottom: 2px solid var(--rojito);
}

/* NAVBAR */ 

/* HERO */ 


.hero {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: right;
	align-items: center;
	padding: 0 20px;
	background-image: url(assets/kawa2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	border-bottom: 1px solid var(--negrito) ;
}

.hero_info {
	padding: 25px;
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 100vh;
	background: rgba(0, 0, 0, .5);
	align-items: center;
	justify-content: space-around;
	border: none;
	border-left: 1px solid var(--negrito);
	border-right: 1px solid var(--negrito);
}

.hero_info img {
	width: 300px;
}

.hero_info h1 {
	color: var(--rojito);
	font-weight: 700;
}

.hero_info p {
	color: #fff;
}

.hero_info p > span {
	color: var(--rojito);
}

.button_container {
	display: flex;
	gap: 20px;
}

.button_container {
	border: none;
}

.button_container button {
	background: rgba(0, 0, 0, .5);
	color: #fff;
	padding: 7px;
	border: none;
}

.button_container button:hover {
	background: var(--sombra);
	color: #fff;
	padding: 7px;
	border-bottom: 1px solid var(--rojito);
}


/* HERO */

/*FOOTER */ 

footer {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 100px 0;
}

footer p {
	color: #fff;
	text-align: center;
}