@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&family=Oswald:wght@300&family=Poppins:wght@400;500;600;700&family=Roboto:wght@100&family=Ubuntu&display=swap');
* {
	font-family: poppins, sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}

:root {
	--rojito: rgb(256, 0, 0);
	--negrito: rgb(0, 0, 0);
	--negrito-sombrita: rgba(0, 0, 0, .5);
	--green: rgba(29.053, 223.13, 0);
	--bg:  rgba(10, 10, 10, 1);
	--sombra: rgba(20, 20, 20, .5);
}

body {
	background: var(--bg);
}

/* NAVBAR */

header {
	background: var(--bg);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	padding: 0 30px;
	top: 0;
	border-bottom: 1px solid var(--negrito);
	position: fixed;
	z-index: 10;
}

.logo-iso-cont {
	display: flex;
	align-items: center;
	gap: 10px;
	color: var(--rojito);
}

.logo {
	width: 200px;
}

.title {
	font-weight: 300;
	font-size: 25px;
}

.nav, .nav-list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav {
	gap: 150px;
}

.nav-list {
	gap: 40px;
	color: var(--rojito);
}

.nav-list a {
	color: var(--rojito);
}

.list-item {
	padding: 6px;
}

.list-item:hover {
	padding: 6px;
	border-bottom: 2px solid var(--rojito);
}

/* NAVBAR */ 

/* HERO */ 


.hero {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: right;
	align-items: center;
	padding: 0 20px;
	background-image: url(assets/kawa2.jpg);
	background-position: top;
	background-repeat: no-repeat;
	border-bottom: 1px solid var(--negrito) ;
}

.hero_info {
	padding: 25px;
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 100vh;
	background: rgba(0, 0, 0, .5);
	align-items: center;
	justify-content: space-around;
	border: none;
	border-left: 1px solid var(--negrito);
	border-right: 1px solid var(--negrito);
}

.hero_info img {
	width: 300px;
}

.hero_info p {
	color: #fff;
}

.hero_info p > span {
	color: var(--rojito);
}

.button_container {
	display: flex;
	gap: 20px;
}

.button_container {
	border: none;
}

.button_container button {
	background: rgba(0, 0, 0, .5);
	color: #fff;
	padding: 7px;
	border: none;
}

.button_container button:hover {
	background: var(--sombra);
	color: #fff;
	padding: 7px;
	border-bottom: 1px solid var(--rojito);
}


/* HERO */

/*MOTO INFO*/ 

.moto-info {
	padding: 30px;
	height: 400px;
	width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	margin: auto;
}

.moto-info h3 {
	font-weight: 700;
	font-size: 56px;
	color: var(--rojito);
}

.moto-info p {
	color: #fff;
	text-align: center;
}
 
/*MOTO INFO*/

/*CARDS*/

.cards h2{
	color: var(--rojito);
	font-weight: 600;
	font-size: 42px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cards-container {
	display: flex;
	flex-wrap: wrap;	
	align-items: center;
	justify-content: space-evenly;
	gap: 20px;
	max-width: 1400px;
	padding: 40px 0;
}

.product {	
	background: #eee;
	border-radius: 4px;
	display: flex;
	width: 300px;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	border: 1px solid #fff;
}

.product img {
	width: 300px;
}

.product-info-bottom {
	padding-top: 10px;
	background: #aaa;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: #fff;
}

.modelo {
	color: #000;
}

.price {
	color: var(--negrito);
}

.features {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 30px;
	gap: 20px;
}

.features span {
	color: #fff;
}	

.vermas {
	align-self: center;
	border-radius: 0 1px 1px 0;
	border: none;
	border-top: 1px solid #000;
	background: var(--bg);
	color: #fff;
	padding: 5px 0;
	width: 100%;
	cursor: pointer;
}

.vermas:hover {
	color: var(--rojito);
}
/*CARDS*/

/*CONTACTO*/


.contacto {
	margin-top: 40px;
	height: 500px;
	display: flex;
	justify-content: flex-start;
	padding: 50px;
	align-items: center;
	background-image: url(assets/kawa1.jpg);
	background-position: right;
	background-repeat: no-repeat;
	position: relative;
}

.contacto:before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background: linear-gradient(100deg, var(--bg) 50%, rgba(0, 0, 0, 0));
}

.contacto-container {
	width: 550px;
	height: 300px;
	border: 1px solid #CCC;
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 3;
	border-radius: 10px;
}

.contacto-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.contacto-info h3 {
	color: #fff;
	font-weight: 600;
}

.contacto-info ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: #fff;
}

.datos {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 3px;
	width: 200px;
	color: #fff;
	background: inherit;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
}

.datos:hover{
	border: none;
	border-bottom: 1px solid #555;
}

.datos:last-child {
	margin-top: 10px;
	background: inherit;
	color: var(--rojito);
	border: 1px solid var(--rojito);
}

.datos:last-child:active {
	background: var(--rojito);
	color: var(--negrito);
}


/*CONTACTO*/

/*FOOTER*/

footer {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer img{
	background: #ccc;
	width: 200px;

}

.footer_links {
	width: 80%;
	height: 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	font-size: 13px;
}

.links{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.links a:visited {
	color: #ccc;
}

.footer_links p {
	color: #ccc;
}