@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&family=Oswald:wght@300&family=Poppins:wght@100;200;400;500;600;700&family=Roboto:wght@100&family=Ubuntu&display=swap');

* {
	font-family: poppins, sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}

:root {
	--rojito: rgb(256, 0, 0);
	--negrito: rgb(0, 0, 0);
	--negrito-sombrita: rgba(0, 0, 0, .5);
	--green: rgba(29.053, 223.13, 0);
	--bg:  rgba(10, 10, 10, 1);
	--sombra: rgba(20, 20, 20, .5);
}

body {
	background: var(--bg);
}

/* NAVBAR */

header {
	margin: auto;
	background: var(--bg);
	width: 100%;
	max-width: 1400px;                        
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
	padding: 0 20px;
	top: 0;
	border-bottom: 1px solid var(--negrito);
	position: sticky;
	z-index: 10;
}

header i {
	color: var(--rojito);
	font-size: 20px;
}

/* PULIR NAV */

.logo-iso-cont {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 10px;
	color: var(--rojito);
}

.logo {
	width: 200px;
}

.title {
	font-weight: 300;
	font-size: 25px;
}

.nav, .nav-list {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav {
	gap: 100px;
}

.nav-list {
	gap: 40px;
	color: var(--rojito);
}

.nav-list a {
	color: var(--rojito);
}

.list-item {
	padding: 6px;
}

.list-item:hover {
	background-color:var(--sombra);
}


#menu-toggle, .menu-label {
	display: none;
}

/* NAVBAR */ 

/* HERO */ 


#portada-contenedor {
	margin: auto;
	display: flex;
	justify-content: left;
	align-items: center;
	padding: 0 20px;
	height: 70vh;
	border-bottom: 1px solid var(--negrito);
	max-width: 1400px;
	background-image: url(kawa15.png);
	background-position: left;
	background-repeat: no-repeat;
	position: relative;
}

.portada-info {
	width: 600px;
	max-width: 40%;
	height: 70%;
}

.portada-info__img {
	max-width: 300px;
}

.portada-info {
	width: 40%;
	max-width: 500px;
	height: 70vh;
	max-height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
	padding: 0 20px;
	background: rgba(30, 30, 30, .8);
	border-right: 1px solid var(--negrito);
	border-left: 1px solid var(--negrito);
	border-bottom: 1px solid var(--negrito);
}

.portada-info p {
	color: #fff;
}

.portada-info__botones {
	display: flex;
	align-items: center;
	gap: 30px;
}


.button {
	background: rgba(0, 0, 0, .5);
	color: #fff;
	padding: 7px;
	border: none;
}

.button:hover {
	background: var(--sombra);
	color: #fff;
	padding: 7px;
	background-color:var(--sombra);
}


/* HERO */

/*MOTO INFO*/ 

.moto-info {
	padding: 30px;
	height: 300px;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
	margin: auto;
}

.moto-info h3 {
	font-weight: 700;
	font-size: 56px;
	color: var(--rojito);
}

.moto-info p {
	color: #fff;
	text-align: center;
}
 
/*MOTO INFO*/

/*CARDS*/

#cards h2{
	color: var(--rojito);
	font-weight: 600;
	font-size: 42px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.cards-container {
	margin: auto;
	display: flex;
	flex-wrap: wrap;	
	align-items: center;
	justify-content: space-evenly;
	gap: 20px;
	max-width: 1400px;
	padding: 40px 0;
}

.product {	
	background: #eee;
	border-radius: 4px;
	display: flex;
	width: 300px;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
	border: 1px solid #fff;
}

.product img {
	width: 300px;
}

.product-info-bottom {
	padding-top: 10px;
	background: #aaa;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: #fff;
}

.modelo {
	color: #000;
}

.price {
	color: var(--negrito);
}

.features {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 30px;
	gap: 20px;
}

.features span {
	color: #fff;
}	

.vermas {
	align-self: center;
	border-radius: 0 1px 1px 0;
	border: none;
	border-top: 1px solid #000;
	background: var(--bg);
	color: #fff;
	padding: 5px 0;
	width: 100%;
	cursor: pointer;
}

.vermas:hover {
	color: var(--rojito);
}
/*CARDS*/

/*CONTACTO*/


#contacto {
	margin: auto;
	height: 500px;
	display: flex;
	justify-content: center;
	padding: 50px;
	align-items: center;
	background-image: url(kawa1.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.contacto-container {
	background-color: rgba(1, 1, 1, .9);
	width: 550px;
	height: 300px;
	border: 1px solid #CCC;
	display: flex;
	align-items: center;
	justify-content: space-around;
	z-index: 3;
	border-radius: 10px;
}

.contacto-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.contacto-info h3 {
	color: #fff;
	font-weight: 600;
}

.contacto-info ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: #fff;
}

.datos {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 3px;
	width: 200px;
	color: #fff;
	background: inherit;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
}

.datos:hover{
	border: none;
	border-bottom: 1px solid #555;
}

.datos:last-child {
	margin-top: 10px;
	background: inherit;
	color: var(--rojito);
	border: 1px solid var(--rojito);
}

.datos:last-child:active {
	background: var(--rojito);
	color: var(--negrito);
}


/*CONTACTO*/

/*FOOTER*/

footer {
	width: 100%;
	max-width: 1400px;
	margin-top: 40px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: auto;
}

footer img{
	background: #ccc;
	width: 200px;
}

.links-contenedor{
	text-align: center;
	margin: 40px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 20px;
}

.links {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	gap: 20px;
}

.copy p {
	font-size: 15px;
	font-weight: 100;
	color: #fff
}
